 {% extends 'shop/basic.html' %}
  {%  block title  %} About @ecw{% endblock  %}
  {% block body %}  <div class="container my-5 " style="margin-left:30vw;" >
    {% load static %}
   <img style="width:200px;height:200px;border-radius:45%;"src="{% static 'shop/ananta.jpg' %} "alt="ananta">
   <br>
    <br>
     <br>
      <br>
<pre>           For More Detail:

    phone number:9806617945
    e-mail:anantarajshrestha@gmail.com
    web:https://anantarajshrestha.com.np</pre>
    <br>
    <a href='/' style='text-decoration:none;font-size:20px;' class="btn btn-outline-info">Back</a>

   </div>{% endblock %}